@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.chart {
    width: 1000px;
}

.chart-principal {
    width: 600px;
    height: 360px;
    position: relative;
}

.chart-total-holders {
    width: 300px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Nunito Sans', sans-serif;
}

.bonds-minted {
    background: #E6EAE5;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.container2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.deposited-principal {
    background: #E6EAE5;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.bond-holders {
    background: #E6EAE5;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img1 {
    height: 60px;
    margin-left: 80px;
    margin-right: 100px;
  }

  .img2 {
    height: 74px;
  }

  .img3 {
    height: 65px;
    margin-left: 100px;
  }

  .img {
    position: absolute;
    top: 270px;
    left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

/*Showdetail bondholders*/

.butonshow2{
    
    padding: 8px 15px;
    color: #2c3e50;
    background-color: #e0e4df;
    border: solid 1.5px;
    border-color: #c8cbd1;
    border-radius: 5px;
    cursor: pointer;
    height: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: flex;
    align-items: end;
}

.butonshow2:hover{
    background-color: #F9FAF8;
    color: #74d7dc;
}

.detailbh{
    margin-top: 25px;
    padding-left: 25px;
    padding-right: 35px;
    position: absolute;
    background-color: #ffffff;
    width: 97%;
    left: 0px;
    top: -20px;
    padding-top: 20px;
    z-index: 90;
    height: 400vh;
}

.bhtable{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

