/* Ethix.css */

/* Set display to flex for the main container */
.ethix-container {
    display: flex;
    flex-direction: column;
  }
  
  /* Apply flex properties to each row container */
  .ethix-row {
    display: flex;
    margin-bottom: 10px; /* Add some spacing between rows */
  }
  
  /* Set the width of each chart component and image component */
  .chart-container,
  .image-container {
    flex: 1;
    min-width: 0; /* Allow the charts to shrink if necessary */
  }
  
  /* Add some spacing between the components */
  .chart-container + .chart-container,
  .image-container + .chart-container {
    margin-left: 10px; /* Add spacing between the charts in a row */
  }

  .chartflags{
    
  }

  .flag-icons{
    width:70%;
    display: flex;
    justify-content: space-around;
    margin-left: 500px;
    }
  
  .honduras-flag{
    width: 20px;
    height: 20px;
  }

  .brazil-flag{
    width: 20px;
    height: 20px;
  }

  .mexico-flag{
    width: 20px;
    height: 20px;
  }

  .mexico-flagcori{
    width: 20px;
    height: 20px;
  }

  .ecuador-flag{
    width: 20px;
    height: 20px;
  }

  .peru-flag{
    width: 20px;
    height: 20px;
  }