.ethix-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  font-family: 'Nunito Sans', sans-serif;
  }
  
  .ethix-row {
    display: flex;
  }
  
  .chart-container {
    background: #E6EAE5;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    width: 440px;
    height: 300px;
  }

  .chart-container-total {
    background: #E6EAE5;
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 25px;
    width: 440px;
    height: 360px;
  }
  
  .chart-ethix {
    width: 400px;
    height: 200px;
  }
  
  .detail-ethix { 
    margin-bottom: 60px;
  }

  .image-ethix {
    border-radius: 100px;
    width: 420px;
    height: 'auto';
    margin-right: 90px;
    padding-top: 20px;
  }